* {
  color: white;
}

h1 {
  font-size: 100px;
  color: #ffc400;
  margin-top: 14%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.botao {
  background-color: #ffc400;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 50px;
  margin-top: 4%;
  border-color: black;
}

.botao:hover {
  filter: brightness(80%);
  color: black;
  border-color: black;
}

footer {
  text-align: center;
  background-color: black;
}
